/* common css */
.bg-custom-1 {
  background-color: #f8f8f8;
}

/* section HOME */
.center-content-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-content-home > h1 {
  font-size: 45px;
  font-weight: 500;
  color: white;
}
.center-content-home > h1 .company-name {
  font-size: 45px;
  font-weight: 500;
  color: black;
  display: block;
}

.center-content-home > p {
  color: #fff;
  line-height: 24px;
  max-width: 770px;
  margin: 20px auto;
}

/* section ABOUT */
.about-welcome {
  font-size: 24px;
  font-weight: 400;
  color: #e6a722;
  font-family: "Roboto", sans-serif;
}

.about-title {
  position: relative;
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 42px;
  margin-top: 0;
  text-transform: uppercase;
}

#service .card-body .card-title {
  font-weight: bold;
  color: #000;
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.service-description {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.site-design-develop {
  text-decoration: none;
  color: black;
}

/* media */
@media only screen and (max-width: 768px) {
  .center-content-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
  }
  .center-content-home > h1 {
    font-size: 25px;
    font-weight: 500;
    color: white;
  }
  .center-content-home > h1 .company-name {
    font-size: 25px;
    font-weight: 500;
    color: black;
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .center-content-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  .center-content-home > h1 {
    font-size: 35px;
    font-weight: 500;
    color: white;
  }
  .center-content-home > h1 .company-name {
    font-size: 35px;
    font-weight: 500;
    color: black;
    display: block;
  }
}

@media only screen and (max-width: 576px) {
  .center-content-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -180%);
  }
  .center-content-home > h1 {
    font-size: 20px;
    font-weight: 400;
    color: white;
  }
  .center-content-home > h1 .company-name {
    font-size: 20px;
    font-weight: 500;
    color: black;
    display: block;
  }
  .center-content-home > p {
    color: #fff;
    line-height: 20px;
    max-width: 770px;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 375px) {
  .center-content-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -260%);
  }
  .center-content-home > h1 {
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
  .center-content-home > h1 .company-name {
    font-size: 12px;
    font-weight: 500;
    color: black;
    display: block;
  }
  .center-content-home > p {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    max-width: 800px;
    margin: 10px auto;
  }

  .about-title {
    position: relative;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 0;
    text-transform: uppercase;
  }
}
